In [1]:
import pymongo

In [2]:
client=pymongo.MongoClient('mongodb://localhost:27017/')

In [3]:
mydb=client['Student1']

In [5]:
student_details=mydb.student_details

In [4]:
record=[ 
    {"user":"Aavani", "subject":"Database", "score":80}, 
    {"user":"Aavani",  "subject":"JavaScript", "score":90}, 
    {"user":"Aadav",  "title":"Database", "score":85}, 
    {"user":"Aadav",  "title":"JavaScript", "score":75}, 
    {"user":"Aavani",  "title":"Data Science", "score":60},
    {"user":"Arun",  "title":"Data Science", "score":95}
]

In [7]:
student_details.insert_many(record)

In [9]:
 for record in student_details.find():
        print(record)

{'_id': ObjectId('6129104ce181ae8384eb162a'), 'user': 'Aavani', 'subject': 'Database', 'score': 80}
{'_id': ObjectId('6129104ce181ae8384eb162b'), 'user': 'Aavani', 'subject': 'JavaScript', 'score': 90}
{'_id': ObjectId('6129104ce181ae8384eb162c'), 'user': 'Aadav', 'title': 'Database', 'score': 85}
{'_id': ObjectId('6129104ce181ae8384eb162d'), 'user': 'Aadav', 'title': 'JavaScript', 'score': 75}
{'_id': ObjectId('6129104ce181ae8384eb162e'), 'user': 'Aavani', 'title': 'Data Science', 'score': 60}
{'_id': ObjectId('6129104ce181ae8384eb162f'), 'user': 'Arun', 'title': 'Data Science', 'score': 95}
{'_id': ObjectId('612deb8c9c6c57e362b3ac62'), 'user': 'Aavani', 'subject': 'Database', 'score': 80}
{'_id': ObjectId('612deb8c9c6c57e362b3ac63'), 'user': 'Aavani', 'subject': 'JavaScript', 'score': 90}
{'_id': ObjectId('612deb8c9c6c57e362b3ac64'), 'user': 'Aadav', 'title': 'Database', 'score': 85}
{'_id': ObjectId('612deb8c9c6c57e362b3ac65'), 'user': 'Aadav', 'title': 'JavaScript', 'score': 75}
{'_id': ObjectId('612deb8c9c6c57e362b3ac66'), 'user': 'Aavani', 'title': 'Data Science', 'score': 60}
{'_id': ObjectId('612deb8c9c6c57e362b3ac67'), 'user': 'Arun', 'title': 'Data Science', 'score': 95}

In [ ]:
##sum ##avg ##projcect

In [11]:
#find the total subject of 2 student based on user
agg_result=student_details.aggregate([{"$group":{"_id":"$user","Total subject":{"$sum":1}}
                                     }])
for i in agg_result:
    print(i)

{'_id': 'Aavani', 'Total subject': 6}
{'_id': 'Aadav', 'Total subject': 4}
{'_id': 'Arun', 'Total subject': 2}

In [12]:
# find the total score based on user
agg_result=student_details.aggregate([{"$group":{"_id":"$user","Total_mark":{"$sum":"$score"}}}])
for i in agg_result:
    print(i)

{'_id': 'Aavani', 'Total_mark': 460}
{'_id': 'Aadav', 'Total_mark': 320}
{'_id': 'Arun', 'Total_mark': 190}

In [13]:
import datetime as datetime

In [14]:
new_data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [16]:

mycollection=mydb['stores']  
mycollection.insert_many(new_data)

In [17]:
#calculate the avg quantuity and avg price
agg_result=mycollection.aggregate([{"$group":{"_id":"$item","Avg_Amount":{"$avg":{"$multiply":["$price", "$quantity" ]}},
                                             "avgQuantity": { "$avg": "$quantity" }}}])
for i in  agg_result:
    print(i)

{'_id': 'abc', 'Avg_Amount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'Avg_Amount': 37.5, 'avgQuantity': 7.5}
{'_id': 'jkl', 'Avg_Amount': 20.0, 'avgQuantity': 1.0}