In [3]:
import pymongo

In [4]:
#create connection
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [6]:
#create Db
mydb=client['Employee']

In [7]:
#table
information=mydb.employeeinformation

In [14]:
#create json document
record=[ 
        {
        'firstname':"Aadav",
        'lastname':"KA",
        'department':'Analyst1'
        
        },
        {
        'firstname':"Aavani",
        'lastname':"KA",
        'department':'Analyst2'
        
        },
        {
        'firstname':"Arun",
        'lastname':"Lal",
        'department':'Analyst3'
        
        }
        ]

In [15]:
information.insert_many(record)

In [8]:
##get single document frm the database
information.find_one()

{'_id': ObjectId('6127f57f2d91b82b36039672'),
 'firstname': 'Aadav',
 'lastname': 'KA',
 'department': 'Analyst1'}

In [9]:
#select * from information
information.find()

In [10]:
for record in information.find():
    print(record)

{'_id': ObjectId('6127f57f2d91b82b36039672'), 'firstname': 'Aadav', 'lastname': 'KA', 'department': 'Analyst1'}
{'_id': ObjectId('6127f57f2d91b82b36039673'), 'firstname': 'Aavani', 'lastname': 'KA', 'department': 'Analyst2'}
{'_id': ObjectId('6127f57f2d91b82b36039674'), 'firstname': 'Arun', 'lastname': 'Lal', 'department': 'Analyst3'}

In [12]:
for record in information.find({}):
       print(record)

{'_id': ObjectId('6127f57f2d91b82b36039672'), 'firstname': 'Aadav', 'lastname': 'KA', 'department': 'Analyst1'}
{'_id': ObjectId('6127f57f2d91b82b36039673'), 'firstname': 'Aavani', 'lastname': 'KA', 'department': 'Analyst2'}
{'_id': ObjectId('6127f57f2d91b82b36039674'), 'firstname': 'Arun', 'lastname': 'Lal', 'department': 'Analyst3'}

In [13]:
#select * from information where firstname='Aavani'
for record in information.find({'firstname':'Aavani'}):
    print(record)

{'_id': ObjectId('6127f57f2d91b82b36039673'), 'firstname': 'Aavani', 'lastname': 'KA', 'department': 'Analyst2'}

In [14]:
client.database_names()

<ipython-input-14-528145b4969c>:1: DeprecationWarning: database_names is deprecated. Use list_database_names instead.
  client.database_names()

['Employee', 'admin', 'config', 'local']

In [ ]:
# or ,in ,and,lt operations

In [16]:
# in and simple query
for record in information.find({'department':{'$in':[ 'Analyst2','Analyst3']}}):
    print(record)

{'_id': ObjectId('6127f57f2d91b82b36039673'), 'firstname': 'Aavani', 'lastname': 'KA', 'department': 'Analyst2'}
{'_id': ObjectId('6127f57f2d91b82b36039674'), 'firstname': 'Arun', 'lastname': 'Lal', 'department': 'Analyst3'}

In [17]:
record={
   'firstname': 'Aavani1', 
    'lastname': 'KA1', 
    'department': 'Analyst4',
    'age':23
    
}

In [18]:
information.insert_one(record)

In [20]:
for record in information.find({}):
    print(record)

{'_id': ObjectId('6127f57f2d91b82b36039672'), 'firstname': 'Aadav', 'lastname': 'KA', 'department': 'Analyst1'}
{'_id': ObjectId('6127f57f2d91b82b36039673'), 'firstname': 'Aavani', 'lastname': 'KA', 'department': 'Analyst2'}
{'_id': ObjectId('6127f57f2d91b82b36039674'), 'firstname': 'Arun', 'lastname': 'Lal', 'department': 'Analyst3'}
{'_id': ObjectId('6128c897deb9fb492ead41e6'), 'firstname': 'Aavani1', 'lastname': 'KA1', 'department': 'Analyst4', 'age': 23}

In [21]:
# lessthsan lt operation
for record in information.find({'age':{'$lt':32}}):
    print(record)

{'_id': ObjectId('6128c897deb9fb492ead41e6'), 'firstname': 'Aavani1', 'lastname': 'KA1', 'department': 'Analyst4', 'age': 23}

In [22]:
# or operation
for record in information.find({'$or':[{'firstname':'Aadav'},{'department': 'Analyst3'}]}):
    print(record)

{'_id': ObjectId('6127f57f2d91b82b36039672'), 'firstname': 'Aadav', 'lastname': 'KA', 'department': 'Analyst1'}
{'_id': ObjectId('6127f57f2d91b82b36039674'), 'firstname': 'Arun', 'lastname': 'Lal', 'department': 'Analyst3'}

In [24]:
# and operation
for record in information.find({'$and':[{'firstname':'Aadav'},{'department': 'Analyst3'}]}):
    print(record)